<div class="container">
    <div id= "images">
        <img class= "main-pic" src="assets/img/juicyburger.jpg" id="pic" alt="burger" height="200px" width="300px">
    </div>




    <h1>EAT-DA-BURGER!</h1>

    <div class="container" id="write-up">
        <div class="form-group">
            <textarea type="submit" id="newBurger" rows="7"></textarea>
        </div>
    </div>
</div>